@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

header {
  gap: 5px;
  display: flex;
  padding: 30px 60px;
  align-items: center;
  justify-content: space-between;
}
header .item {
  gap: 20px;
  display: flex;
  padding: 0px 10px;
  align-items: center;
  border-radius: 40px;
  border: 2px solid rgba(195, 212, 233, 0.4);
}
header .text {
  font-size: 32px;
  font-weight: 700;
  color: #3b82f6;
  font-family: "Plus Jakarta Sans", sans-serif;
}
header .jass {
  gap: 75px;
  display: flex;
  align-items: center;
}
header ul {
  gap: 20px;
  display: flex;
  align-items: center;
  list-style: none;
}
header ul li {
  height: 45px;
  width: 45px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(195, 212, 233, 0.4);
}
header ul .herf-1 {
  margin-top: 4px;
}
header .input1 {
  height: 44px;
  width: 492px;
  outline: none;
  border: solid 1px #fff;
  padding: 0px 10px;
}
header .top-m {
  margin-top: 3px;
}

.items {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 0px 20px;
  align-items: center;
}
.items .input1 {
  height: 48px;
  width: 100%;
  outline: none;
  border: solid 1px #fff;
  padding: 0px 10px;
}
.items .top-m {
  margin-top: 3px;
}
.items .nasr {
  gap: 20px;
  display: flex;
  width: 100%;
  padding: 0px 10px;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgba(195, 212, 233, 0.4);
  align-items: center;
}
.items .nasrs {
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid rgba(195, 212, 233, 0.4);
}

.Search {
  display: none;
  margin-bottom: 10px;
}

.section {
  height: 100%;
  padding: 35px 20px;
  background: #f6f7f9;
}
.section .select {
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
  justify-content: center;
}
.section .hero {
  height: 360px;
  width: 650px;
  padding: 24px;
  border-radius: 10px;
  background: var(--Information-500, #54a6ff);
}
.section .her1 {
  height: 360px;
  width: 650px;
  padding: 24px;
  border-radius: 10px;
  background: var(--Primary-500, #3563e9);
}
.section .text-1 {
  width: 282px;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--Primary-0, #fff);
}
.section .text-2 {
  width: 284px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--Primary-0, #fff);
}
.section .btn-1 {
  font-size: 16px;
  color: #f6f7f9;
  padding: 13px 25px;
  border-radius: 5px;
  border: none;
  background: var(--Primary-500, #3563e9);
}
.section .btn-2 {
  font-size: 16px;
  color: #f6f7f9;
  padding: 13px 25px;
  border-radius: 5px;
  border: none;
  background: var(--Information-500, #54a6ff);
}
.section .jus {
  display: flex;
  justify-content: center;
}
.section .loactions {
  width: 600 px;
  height: 136px;
  padding: 24px 48px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 1px 2px 3px #e4e5e6;
}
.section .wroaps {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .loaction {
  width: 600px;
  height: 136px;
  padding: 24px 48px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 1px 2px 3px #e4e5e6;
}
.section .text-6 {
  font-size: 16px;
  font-weight: 600;
}
.section .frip {
  gap: 12px;
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}
.section select {
  outline: none;
  border: solid #fff;
}
.section #s {
  font-size: 16px;
}
.section .loc {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}
.section .wroap {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .hr {
  width: 0.5px;
  height: 48px;
  background: rgba(195, 212, 233, 0.4);
}
.section .hero_Select {
  gap: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .divs {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  border-radius: 10px;
  background: var(--Primary-500, #3563e9);
}

.section-2 {
  height: 100%;
  padding: 40px 89px;
  background: #f6f7f9;
}
.section-2 .fs {
  display: flex;
  padding-bottom: 3%;
  align-items: center;
  justify-content: space-between;
}
.section-2 .fs .fp {
  font-size: 20px;
  font-weight: 600;
  color: var(--Secondary-300, #90a3bf);
}
.section-2 .fs .ap {
  font-weight: 600;
  color: var(--Primary-500, #3563e9);
}
.section-2 .infor {
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.section-2 .infor .app {
  width: 305px;
  height: 388px;
  padding: 24px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  transform: scale(1);
  cursor: pointer;
}
.section-2 .infor .app:hover {
  transform: scale(1.05);
}
.section-2 .infor .span {
  font-size: 28px;
}
.section-2 .infor .span:hover {
  color: red;
}
.section-2 .infor .erons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-2 .infor .op {
  color: var(--Secondary-500, #1a202c);
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.6px;
}
.section-2 .infor .we {
  color: var(--Secondary-300, #90a3bf);
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.28px;
}
.section-2 .infor .img-url {
  display: flex;
  margin-top: 25%;
  margin-bottom: 59px;
  align-items: center;
  justify-content: center;
}
.section-2 .infor .img-urls {
  display: flex;
  margin-top: 20%;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
}
.section-2 .infor .Mirual {
  gap: 16px;
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
}
.section-2 .infor .gazs {
  gap: 6px;
  display: flex;
  align-items: center;
}
.section-2 .infor .azo {
  color: var(--Secondary-300, #90a3bf);
  font-family: "Plus Jakarta Sans";
  font-size: 13px;
  letter-spacing: -0.28px;
}
.section-2 .infor .money {
  color: var(--Secondary-500, #1a202c);
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-2 .infor .days {
  color: var(--Secondary-300, #90a3bf);
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-2 .infor .btn-2 {
  width: 116px;
  height: 44px;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  border: solid #3563e9;
  font-family: "Plus Jakarta Sans";
  background: var(--Primary-500, #3563e9);
}
.section-2 .infor .nerx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-2 .infor .loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
.section-2 .infor .infor {
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  .item {
    width: 100%;
  }
  .item .input1 {
    width: 100%;
  }
  .section .loactions {
    display: none;
  }
  .section .divs {
    display: none;
  }
}
@media (max-width: 720px) {
  header {
    gap: 10px;
    display: flex;
    padding: 30px 40px;
    align-items: center;
    justify-content: space-between;
  }
  header .li-o {
    display: none;
  }
  header .item {
    display: none;
  }
  .Search {
    display: block;
  }
  .her1 {
    display: none;
  }
  .d {
    width: 306px;
    height: 86px;
  }
  .select .hero {
    width: 100%;
    height: 320px;
  }
  .select .hero .text-1 {
    width: 100%;
    font-size: 25px;
  }
  .select .hero .text-2 {
    font-size: 12px;
    width: 100%;
  }
  .hero_Select .loaction {
    padding: 20px;
  }
  .hero_Select .wroaps {
    display: flex;
    justify-content: baseline;
  }
  .loaction {
    width: 100%;
    height: 100%;
  }
  .loaction .text-6 {
    font-size: 16px;
  }
  .loaction .loc {
    font-size: 12px;
  }
  .loaction .wroap {
    gap: 0px;
  }
  .loaction .hr {
    display: none;
  }
  .loaction #s {
    font-size: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  .loaction #name {
    font-size: 10px;
  }
  .loaction .wroaps {
    gap: 0px;
  }
  .btn-1 {
    margin-bottom: 10px;
  }
  .infor {
    padding: 20px 4px;
    flex-wrap: wrap;
  }
  .section-2 {
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */